<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="2.7.2-dev-01010" targetFramework="net471" />
  <package id="Serilog.Enrichers.Thread" version="3.0.1-dev-00728" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00777" targetFramework="net471" />
</packages>